/* @media screen and (min-width: 1367px){
  .all{
  height: 830x;
  width: 1366px;
  }
} */

body {
  background-color: darkgray;
}

.exitReg, .entryReg, .deleteTable, .freePlaces {
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 10;
  font-size: 80%;
}

.table-box{
  position: relative;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

  div.entryReg{
  width: 40%;
  height: 100%;
  margin-left: 2%;
  min-width: 300px;
}

div.exitReg{
  width: 50%;
  height: 100%;
  margin-left: 3%;
  min-width: 300px;
  
}

.horizontalPositioning{
  /* powoduje wyświetlanie divów obok siebie */
  display: inline-flex; 
  width: 1366px ;
}

table {
  width: 100%;
  text-align: center;
}


th{
  height: 90%;
  position: sticky;
  top: 0;
  color: #FFFFF0;
  background: #20B2AA;
}

/* najpierw clasa a poźniej typ to rodzaj zagnieżdżenia 
gdzie cechy są przypisane do poziomu niżej tej danej klasy*/
.multipleColumnsTab th{
  width: 10%;
}

 .freePlacesTab th{
  width: 20%;
} 

td{
  height: 90%;
  color: #202020;
  padding: 10px;
}

tr:nth-child(2n) td:nth-child(2n){
  background:#FAEBD7;
}

tr:nth-child(2n) td:nth-child(2n+1){
  background:#F0F8FF;
}

tr:nth-child(2n+1) td:nth-child(2n+1){
  background: #FAEBD7;
}

tr:nth-child(2n+1) td:nth-child(2n){
  background:#F0F8FF;
}

p.heading{
 margin-left: 28%;
}

p.entryRegText{
  display: inline;
}

button{
background: #20B2AA;
text-align: center;
padding: 7px;
border: 1px #20B2AA;
border-radius: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
font-size: 100%;
transition: 0.2s;
}
/* możliwe, że trzeba będzie dać .regButton:focus */
button:hover{
  transform: scale(1.2) ;
}

.button-labelDiv{
  position: sticky;
  float: right;
  margin-right: 10px;
}

.labelDiv{
  border: 4px solid #20B2AA;
  border-radius: 15px;
  background: #FFF5EE;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;  
  position: relative;
  width: 95%;
}

.searchText{
  transition: 10s;
  background:#FFFAFA;
  height: 25px;
  width: 23%; /*  trzeba tu koniecznie zadeklarowac szerokość, inaczej transition się zadziała */
  border: 2px solid #20B2AA;
  border-radius: 5px;
  background-image: url('searchIcon.png');
  background-size: 27px;
  background-position: 2px; 
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.heading{
  position: relative;
  background-color: #20B2AA;
  font-size: 20px;
  padding: 8px;
  padding-left: 10px;
  color: white;
  width: 210px;
}


.arrowImage{
  position: relative;
  left: 40%;
  scale: 1;
  margin: 0px;
  margin-top: 0%;
}

  .searchDiv{
    display: inline;
  }

  .bottom-buttons{
    margin-left: 2%;
    margin-top: 3%;
 
  }

#addVehicle, #deleteVehicle, #parkedVehicles, #freePlaces{
   margin-left: 2%;
  }

  div.deleteTable, div.freePlaces{
    height: 200px;
    margin-left: 2%;
    min-width: 300px; 
    position: relative;
    overflow-y: scroll;
  }

  div.deleteTable{
    width: 40%;
  }

  div.freePlaces{
    width: 5%;
  }


 


 
  
